.App {
  text-align: center;
  margin: 18% 4% 0 4%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.market-name-table {
    display: contents;
    height: 400px;
    width: 100%;
}

.container {
    /*height: 400px;*/
    width:100%;
}

.row {
    align-items: center !important;
    justify-content: center !important;
}

.autocomplete-margin {
    margin: 20px 0 20px 0;
}

.dropdown-marketName {
    min-width: 150px !important;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
}

.MuiDataGrid-columnHeader {
    align-items: right;
    justify-content: right;
}

.footer-icon {
    position: fixed;
    bottom: 10px;
    z-index: 1;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
    background-color: green !important;
}

.headerName {
 color: white !important;
}

.footerIconsColor {
    color:grey;
}